body {
	margin: 0;
	font-family: 'Montserrat';
	background-color: #537569;
}

.grid-item:hover {
	background-color: #ddd;
	color: #537569;
}

.grid-container {
	display: grid;
	grid-template-columns: 50% auto auto auto auto auto;
	background-color: #EDEAE6;
	color: #537569;
	border-radius: 10px;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
	height: 150px;
}
.grid-container a{
	float: right;
	color: #537569;
	text-decoration: none;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
}
.grid-container a.active {
	font-weight: bold;
}
.grid-item {
	border-radius: 10px;
	background-color: #EDEAE6;
	font-size: 30px;
	text-align: center;
	height: 15%;
	margin-left: 2%;
}
.grid-logo:hover{
	background-color: inherit;
  }
.logo {
	float: left;
	max-height:100%; 
	max-width:100%;
	object-fit: contain;
}

.grid-bottom{
	position: absolute;
	bottom: 0;
	display: grid;
	grid-template-columns: 50% auto auto auto auto auto;
	color: #537569;
	border-radius: 10px;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
	height: 150px;
  }
  .grid-bottom a{
	color: #EDEAE6;
	text-decoration: none;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
}
  .grid-itemBot{
	color: #EDEAE6;

	border-radius: 10px;
	font-size: 30px;
	height: 15%;
	margin-left: 2%;
  }

.TakeAction{
	float: left;
}